<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <variable name="PlatformName" value="TradingClient" />
  <variable name="fullException" value="${exception:format=Type, Message, StackTrace:maxInnerExceptionLevel=10}" />
  <variable name="machineInfo"
            value="Assembly: ${assembly-version} ${newline}Base dir: ${basedir} 
            ${newline}Machine name: ${machinename} ${newline}User: ${windows-identity} 
            ${newline}Process Name: ${processname} ${newline}Process Info: ${processinfo}${newline}Process Time: ${processtime}" />

  <targets>
    <target name="main_file"
            xsi:type="File"
            layout="${time} - ${level:uppercase=true} : ${message} ${onexception:${NewLine}${exception:format=type,message}${exception:format=stacktrace}${NewLine}}"
            fileName="${specialfolder:folder=ApplicationData}/${PlatformName}/${shortdate}.log"
            keepFileOpen="false"
            archiveFileName="${specialfolder:folder=ApplicationData}/${PlatformName}/${shortdate}Archive.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="70" />

    <target name="mqlOutputFile"
            xsi:type="File"
            layout="[${time}] : ${message}${NewLine}"
            fileName="${specialfolder:folder=MyDocuments}/TradingClient/Output/${shortdate}.log"
            keepFileOpen="false"
            archiveFileName="${specialfolder:folder=ApplicationData}/${PlatformName}/${shortdate}Archive.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="70" />

    <target name="methodLogger" xsi:type="MethodCall" className="TradingClient.ViewModels.LogManager, TradingClient.ViewModels"
            methodName="ProcessLog">
      <parameter layout="${date}" />
      <parameter layout="${level:uppercase=true}" />
      <parameter layout="${message}" />
      <parameter layout="${exception:format=type,message}" />
    </target>

    <target name="debugger" xsi:type="Debugger" layout=">>> ${message} Ex: ${exception:format=type,message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="main_file" />
    <logger name="*" minlevel="Info" writeTo="methodLogger" />
    <logger name="TradingClient.Core.OutputManager" level="Info" writeTo="mqlOutputFile" />
  </rules>
</nlog>